*{
	font-family: 'Courier New';
}


/* Nav bar */
.navbar{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(122, 122, 122, 1);
  padding: 0px;
  column-gap: 50px;
}

.cqulogo, .navlinks, .profile {
  border: 1px solid rgba(0, 0, 0, 0.8);
}



.cqulogo {
  text-align: left;
}

.navlinks {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: lightblue;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
	}

.profile {
  /*position:relative;
  bottom: 15px;*/
  line-height: 50px;
  text-align: right;
}


.searchtags {
	margin-top: 15px;
	margin-left: 40px;
	float:left;
	border: 2px solid rgba(200, 200, 200, 1);
	width: 220px;
	border-radius: 10px;
	padding: 5px;
	
}

.searchbar {
	position: absolute;
	margin-left: 300px;
	margin-top: 15px;
	float:right;
}
.searchbar input{
	position: relative;
	width: 50%;
}

.searchbar button {
	position: relative;
}

