*{
	font-family: 'Courier New';
}

.wholepage {
	margin-top: 50px;
}

/* Nav bar */
.navbar{
  position:fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
}

.shop {
	color: #C1D600FF;
	font-weight: bold;
}


.cqulogo {
  margin-left: 40px;
}

.navlinks {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
	}

.profile {
  line-height: 50px;
  text-align: right;
  margin-right: 40px;
}

.username {
	margin-right: 70px;
}

.profilepic {
	position: absolute;
	width: 30px;
	margin-left: 100px;
	margin-top: 10px;
}

.searchtags {
	margin-top: 15px;
	margin-left: 40px;
	float:left;
	border: 2px solid rgba(200, 200, 200, 1);
	width: 220px;
	border-radius: 10px;
	padding: 5px;
	
}

.searchbar {
	position: absolute;
	margin-left: 300px;
	margin-top: 15px;
	float:right;
}
.searchbar input{
	position: relative;
	width: 300px;
}

.searchbar button {
	position: relative;
	background-color: #C1D600FF;
	border-radius: 5px;
}

.searchresults {
	#margin-left: -50px;
}